GCS_node-red.json
[{"id":"e9615421.d27d1","type":"tab","label":"Kim og Andreas mod","disabled":false,"info":""},{"id":"11b3eb0f.243035","type":"udp in","z":"e9615421.d27d1","name":"","iface":"","port":"4243","ipv":"udp4","multicast":"true","group":"225.0.0.25","datatype":"utf8","x":130,"y":320,"wires":[["7c67d6b6.d0241","d17e6462.aa7568"]]},{"id":"4b5e123.3daf4ec","type":"inject","z":"e9615421.d27d1","name":"Show Map in Dashboard","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":170,"y":500,"wires":[["f4c0f057.1dae9"]]},{"id":"69968746.e45f18","type":"ui_template","z":"e9615421.d27d1","group":"5da5e4c.4bfa41c","name":"Show Map","order":1,"width":"19","height":"12","format":"<div style=\"text-align: center;padding: 0px;\"><iframe id=\"map\" src=\"\" style=\"display: block; width: 100%; height: 100vh; border: none;\" scrolling=\"no\" frameborder=\"0\"></iframe></div>\n<script>\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('map');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":850,"y":500,"wires":[[]]},{"id":"f4c0f057.1dae9","type":"ip","z":"e9615421.d27d1","name":"Get IP","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":false,"publicIPv6":false,"x":370,"y":500,"wires":[["f0adae82.6d77c8"]]},{"id":"f0adae82.6d77c8","type":"function","z":"e9615421.d27d1","name":"Create LiveFeed-address","func":"msg.payload = \"http://\"+msg.payload.internalIPv4+\":1880/worldmap\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":500,"wires":[["69968746.e45f18"]]},{"id":"d0ade54b.7fec78","type":"json","z":"e9615421.d27d1","name":"string to object","property":"payload","action":"obj","pretty":false,"x":580,"y":320,"wires":[["ba1d3a96.f49138"]]},{"id":"211f3bde.5ebdb4","type":"inject","z":"e9615421.d27d1","name":"UDP-sample-unpacked","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":380,"wires":[["ebdab4fb.c374a8"]]},{"id":"ebdab4fb.c374a8","type":"function","z":"e9615421.d27d1","name":"load sample","func":"msg.payload = '{\"header\": {\"reTransmit\": 0, \"seq\": 0, \"Ack\": 0, \"nsecs\": 52695035, \"secs\": 1573841736, \"msgType\": 1, \"id\": 1}, \"movement\": {\"speed\": 0.5, \"heading\": 0.0}, \"position\": {\"lat\": 60.394367, \"lon\": 5.26597}}';\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["d0ade54b.7fec78"]]},{"id":"9ba96fa3.202e5","type":"inject","z":"e9615421.d27d1","name":"SwarmCommand - structure","topic":"SwarmCommand","payload":"{\"header\":{\"secs\":\"int\",\"nsecs\":\"int\",\"seq\":0,\"id\":4,\"msgType\":\"int\",\"reTransmit\":\"int\",\"Ack\":0},\"taskType\":\"int\",\"headingMode\":\"int\",\"colavMode\":\"int\",\"destination\":{\"latitude\":\"float\",\"longitude\":\"float\"},\"fence\":{\"latitude\":60.3943,\"longitude\":5.2659},\"speed\":\"float\",\"heading\":\"float\",\"doImidiate\":\"bool\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":191,"y":62,"wires":[["bcf54714.37d228"]]},{"id":"2fa8fb1f.14b42c","type":"inject","z":"e9615421.d27d1","name":"BoatOdometry - structure","topic":"BoatOdometry","payload":"{\"header\":{\"reTransmit\":\"int\",\"seq\":\"int\",\"Ack\":\"int\",\"nsecs\":\"int\",\"secs\":\"int\",\"msgType\":\"int\",\"id\":\"int\"},\"movement\":{\"speed\":\"float\",\"heading\":\"float\"},\"position\":{\"latitude\":\"float\",\"longitude\":\"float\"}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":108,"wires":[["ffc83af7.269568"]]},{"id":"bcf54714.37d228","type":"change","z":"e9615421.d27d1","name":"Save to global.SwarmCommandStruct","rules":[{"t":"set","p":"SwarmCommandStruct","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":508,"y":62,"wires":[[]]},{"id":"ffc83af7.269568","type":"change","z":"e9615421.d27d1","name":"Save to global.BoatOdometryStruct","rules":[{"t":"set","p":"BoatOdometryStruct","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":499,"y":107,"wires":[[]]},{"id":"ba1d3a96.f49138","type":"switch","z":"e9615421.d27d1","name":"Select msgType","property":"payload.header.msgType","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":780,"y":320,"wires":[[],["3dd96129.89225e","32c367c9.be72"],[],[]],"inputLabels":["multicast - objects"],"outputLabels":["HEARTBEAT","ODOMETRY","SWARM_COMMAND","BOAT_STATUS"]},{"id":"3dd96129.89225e","type":"function","z":"e9615421.d27d1","name":"reformat (delete and replace)","func":"var BoatOdometry = msg.payload;\n\ndelete msg.payload;\nmsg.payload = {};\n\n//Delete old position\nmsg.payload.layer = \"Sverm\";\nmsg.payload.name = \"Boat \" + BoatOdometry.header.id;\nmsg.payload.deleted = true;\nmsg.payload.deleted = undefined;\n\n//Place at new position\nmsg.payload.lat = BoatOdometry.position.latitude;\nmsg.payload.lon = BoatOdometry.position.longitude;\n//msg.payload.layer = \"Sverm\";\n//msg.payload.name = \"Boat \" + BoatOdometry.header.id;\nmsg.payload.id = BoatOdometry.header.id;\nmsg.payload.icon = \"ship\";\nmsg.payload.iconColor = \"grey\";\nmsg.payload.ttl = 5;    //Båten forsvinner etter 5 sec uten ny oppdatering\nmsg.payload.bearing = BoatOdometry.movement.heading;\nmsg.payload.speed = BoatOdometry.movement.speed;\nmsg.payload.time = flow.get(\"time\")||Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":280,"wires":[["b0331e3d.a765"]]},{"id":"b0331e3d.a765","type":"worldmap","z":"e9615421.d27d1","name":"","lat":"60.394195","lon":"5.262922","zoom":"17","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1300,"y":280,"wires":[]},{"id":"ff0bb7c9.76d8d8","type":"function","z":"e9615421.d27d1","name":"Zoom to Sjøkrigsskolen","func":"//Sjøkrigskolen:\n//60.394195, 5.262922\nmsg.payload = { command:{layer:\"OSM\",lat:60.394195,lon:5.262922,zoom:17} };\n//return msg;\n//Tennebekktjørna:\n//60.365013, 5.263031\n//msg.payload = { command:{layer:\"OSM\",lat:60.365013,lon:5.263031,zoom:17} };\nreturn msg;","outputs":1,"noerr":0,"x":464,"y":551,"wires":[["c3ffd6ba.bf22"]]},{"id":"2e34300d.975728","type":"comment","z":"e9615421.d27d1","name":"User Interface - Map control:","info":"","x":166,"y":443,"wires":[]},{"id":"a54fe7c.db0ed18","type":"comment","z":"e9615421.d27d1","name":"Receive messages:","info":"","x":130,"y":260,"wires":[]},{"id":"de28092b.7090d","type":"comment","z":"e9615421.d27d1","name":"Message structure:","info":"","x":130,"y":20,"wires":[]},{"id":"161449f4.0d13d6","type":"link in","z":"e9615421.d27d1","name":"","links":["c3ffd6ba.bf22"],"x":1115,"y":200,"wires":[["b0331e3d.a765"]]},{"id":"c3ffd6ba.bf22","type":"link out","z":"e9615421.d27d1","name":"To worldmap","links":["161449f4.0d13d6"],"x":659,"y":591,"wires":[]},{"id":"c56a7427.3f4f8","type":"ui_dropdown","z":"e9615421.d27d1","name":"","label":"Quick Zoom to","tooltip":"","place":"Select option","group":"5da5e4c.4bfa41c","order":3,"width":"5","height":"1","passthru":true,"options":[{"label":"SKSK","value":0,"type":"num"},{"label":"Nipedalen","value":1,"type":"num"}],"payload":"","topic":"","x":122,"y":552,"wires":[["7d4a1284.c5584c"]]},{"id":"9ccac6ba.db3e08","type":"function","z":"e9615421.d27d1","name":"Zoom to Tennebekktjørna","func":"//Sjøkrigskolen:\n//60.394195, 5.262922\n//msg.payload = { command:{layer:\"OSM\",lat:60.394195,lon:5.262922,zoom:17} };\n//return msg;\n//Tennebekktjørna:\n//60.365013, 5.263031\nmsg.payload = { command:{layer:\"OSM\",lat:60.365013,lon:5.263031,zoom:17} };\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":591,"wires":[["c3ffd6ba.bf22"]]},{"id":"7d4a1284.c5584c","type":"switch","z":"e9615421.d27d1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":269,"y":551,"wires":[["ff0bb7c9.76d8d8"],["9ccac6ba.db3e08"]]},{"id":"7e6d4779.920dc8","type":"udp out","z":"e9615421.d27d1","name":"","addr":"225.0.0.25","iface":"","port":"4243","ipv":"udp4","outport":"","base64":false,"multicast":"multi","x":840,"y":680,"wires":[]},{"id":"c143f05f.0cbf","type":"comment","z":"e9615421.d27d1","name":"User Interface - Send messages:","info":"","x":170,"y":640,"wires":[]},{"id":"9c53501.ffca5b","type":"ui_button","z":"e9615421.d27d1","name":"","group":"2ac6aafc.371cae","order":1,"width":"5","height":"1","passthru":false,"label":"Kill-command","tooltip":"","color":"","bgcolor":"#ff2d00","icon":"","payload":"true","payloadType":"bool","topic":"payload","x":125,"y":698,"wires":[["66549459.6c4f54"]]},{"id":"199d54a7.1c4f43","type":"inject","z":"e9615421.d27d1","name":"Prepare Swarm-Kill-Command","topic":"","payload":"{\"header\":{\"secs\":\"int\",\"nsecs\":\"int\",\"seq\":0,\"id\":\"int\",\"msgType\":\"int\",\"reTransmit\":\"int\",\"Ack\":\"int\"},\"taskType\":\"int\",\"headingMode\":\"int\",\"colavMode\":\"int\",\"destination\":{\"latitude\":\"float\",\"longitude\":\"float\"},\"fence\":{\"latitude\":\"float\",\"longitude\":\"float\"},\"speed\":\"float\",\"heading\":\"float\",\"doImidiate\":\"bool\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":199,"y":162,"wires":[["489dc26a.bd21fc","11313ba7.77af2c"]]},{"id":"92129084.d0eb68","type":"change","z":"e9615421.d27d1","name":"Save to global.SwarmCommandKill","rules":[{"t":"set","p":"SwarmCommandKill","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1079,"y":162,"wires":[[]]},{"id":"489dc26a.bd21fc","type":"change","z":"e9615421.d27d1","name":"Get global.SwarmCommandStruct","rules":[{"t":"set","p":"payload","pt":"msg","to":"SwarmCommandStruct","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":505,"y":164,"wires":[["f6dcdedf.ce75a"]]},{"id":"f6dcdedf.ce75a","type":"function","z":"e9615421.d27d1","name":"Adjust to Kill-Command","func":"msg.payload.header.secs = 0;\nmsg.payload.header.nsecs = 0;\nmsg.payload.header.id = 4;\nmsg.payload.header.msgType = 2;\nmsg.payload.header.reTransmit = 0;\nmsg.payload.header.ack = 0;\nmsg.payload.taskType = 0;\nmsg.payload.headingMode = 0;\nmsg.payload.colavMode = 0;\nmsg.payload.destination.latitude = 60.394195;\nmsg.payload.destination.longitude = 5.262922;\nmsg.payload.fence.latitude = 60.3943;\nmsg.payload.fence.longitude = 5.2659;\nmsg.payload.speed = 0.0\nmsg.payload.heading = 0.0\nmsg.payload.doImidiate = false;\nreturn msg;","outputs":1,"noerr":0,"x":802,"y":162,"wires":[["92129084.d0eb68"]]},{"id":"7c67d6b6.d0241","type":"function","z":"e9615421.d27d1","name":"remove first and last","func":"var s1 = msg.payload;\nvar s2 = s1.substr(1);\n\n//var s3 = s2.slice(0, s2.length-1);\nmsg.payload = s2;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["d0ade54b.7fec78"]]},{"id":"148d09e5.876c8e","type":"ui_table","z":"e9615421.d27d1","group":"5da5e4c.4bfa41c","name":"tabell","order":2,"width":"19","height":"4","columns":[],"outputs":0,"cts":false,"x":1290,"y":340,"wires":[],"info":"[\r\n    {\r\n        \"Name\": \"Kazuhito Yokoi\",\r\n        \"Age\": \"35\",\r\n        \"Favourite Color\": \"red\",\r\n        \"Date Of Birth\": \"12/09/1983\"\r\n    },\r\n    {\r\n        \"Name\": \"Oli Bob\",\r\n        \"Age\": \"12\",\r\n        \"Favourite Color\": \"cyan\",\r\n        \"Date Of Birth\": \"12/08/2017\"\r\n    }\r\n]"},{"id":"32c367c9.be72","type":"function","z":"e9615421.d27d1","name":"reformat (delete and replace)","func":"var BoatOdometry = msg.payload;\nmsg.topic = {};\n//Place at new position\nmsg.topic.id = BoatOdometry.header.id;\nmsg.topic.lat = BoatOdometry.position.latitude;\nmsg.topic.lon = BoatOdometry.position.longitude;\nmsg.topic.bearing = BoatOdometry.movement.heading;\nmsg.topic.speed = BoatOdometry.movement.speed;\n\nglobal.set(\"list[\"+(BoatOdometry.header.id)+\"]\",msg.topic );\n\nmsg.payload = global.get(\"list\");\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":340,"wires":[["148d09e5.876c8e"]]},{"id":"11313ba7.77af2c","type":"function","z":"e9615421.d27d1","name":"def globals","func":"global.set(\"list\", []);\nglobal.set(\"command\", global.get(\"SwarmCommandStruct\"));","outputs":1,"noerr":0,"x":438.5,"y":221,"wires":[[]]},{"id":"562e561.c1295a8","type":"ui_form","z":"e9615421.d27d1","name":"","label":"Set fence","group":"2ac6aafc.371cae","order":3,"width":0,"height":0,"options":[{"label":"lat","value":"fencelatitude","type":"number","required":true},{"label":"lon","value":"fencelongitude","type":"number","required":true}],"formValue":{"fencelatitude":"","fencelongitude":""},"payload":"","submit":"Send","cancel":"Reset","topic":"","x":105,"y":818,"wires":[["1db74bef.d365bc"]]},{"id":"1db74bef.d365bc","type":"function","z":"e9615421.d27d1","name":"set command","func":"var command = global.get(\"command\");\n\ncommand.colavMode = 2;\n\ncommand.fence.latitude = msg.payload.fencelatitude;\ncommand.fence.longitude = msg.payload.fencelongitude;\n\ncommand.doImidiate = false;\n\nglobal.set(\"command\", command);\nmsg.payload = command;\nreturn msg;\n\n/*\ntry{ //set fence if fence is given\n    command.fence.latitude = msg.payload.fencelatitude;\n    command.fence.longitude = msg.payload.fencelongitude;\n}\ncatch(e){}\n\n\ntry{ //try to set destination if destination is given\n    command.destination.latitude = msg.payload.destlatitude;\n    command.destination.longitude = msg.payload.destlongitude;\n}\ncatch(e){}\n\n\ntry{ //try to set destination if destination is given\n    command.speed= msg.payload.velspeed;\n    command.heading = msg.payload.velheading;\n}\ncatch(e){}\n*/","outputs":1,"noerr":0,"x":325,"y":818,"wires":[["7555eed5.a9a4f","cd07ad87.6c288"]]},{"id":"66549459.6c4f54","type":"function","z":"e9615421.d27d1","name":"set command","func":"var command = global.get(\"command\");\n\ncommand.doImidiate = true;\n\nglobal.set(\"command\", command);\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":698,"wires":[["5de1bd49.e165cc"]]},{"id":"3f66821b.4b8646","type":"ui_form","z":"e9615421.d27d1","name":"","label":"Set new destination","group":"2ac6aafc.371cae","order":4,"width":0,"height":0,"options":[{"label":"latitude","value":"destlatitude","type":"number","required":true},{"label":"longitude","value":"destlongitude","type":"number","required":true}],"formValue":{"destlatitude":"","destlongitude":""},"payload":"","submit":"Send","cancel":"Reset","topic":"","x":135,"y":858,"wires":[["f1c26cbc.84e648"]]},{"id":"2b1c40c4.453208","type":"inject","z":"e9615421.d27d1","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":115,"y":1018,"wires":[["e7796df0.bcbb08","cd07ad87.6c288"]]},{"id":"e7796df0.bcbb08","type":"function","z":"e9615421.d27d1","name":"get command","func":"var command = global.get(\"command\");\nvar tab = [];\ntab[0] = command\n\nmsg.payload = tab;\nreturn msg;","outputs":1,"noerr":0,"x":334,"y":1018,"wires":[["5bbabec9.ed4248"]]},{"id":"5bbabec9.ed4248","type":"ui_table","z":"e9615421.d27d1","group":"2ac6aafc.371cae","name":"Current command","order":6,"width":"8","height":"4","columns":[{"field":"destination.latitude","title":"destination lat","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"destination.longitude","title":"destination lon","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"fence.latitude","title":"fence lat","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"fence.longitude","title":"fence lon","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"speed","title":"wanted speed","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"doImidiate","title":"stop","width":"","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"heading","title":"wanteed heading","width":"","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":615,"y":1017,"wires":[]},{"id":"6b65f9f4.029bb8","type":"ui_form","z":"e9615421.d27d1","name":"","label":"Set wanted speed","group":"2ac6aafc.371cae","order":5,"width":0,"height":0,"options":[{"label":"speed","value":"velspeed","type":"number","required":true},{"label":"heading","value":"velheading","type":"number","required":true}],"formValue":{"velspeed":"","velheading":""},"payload":"","submit":"Send","cancel":"Reset","topic":"","x":135,"y":898,"wires":[["d3ece76e.69d6f8"]]},{"id":"7555eed5.a9a4f","type":"function","z":"e9615421.d27d1","name":"make start header","func":"var test = JSON.stringify(msg.payload);\nmsg.payload = '0' + test\nreturn msg;","outputs":1,"noerr":0,"x":575,"y":758,"wires":[["7e6d4779.920dc8"]]},{"id":"f1c26cbc.84e648","type":"function","z":"e9615421.d27d1","name":"set command","func":"var command = global.get(\"command\");\n\ncommand.colavMode = 3;\n\ncommand.destination.latitude = msg.payload.destlatitude;\ncommand.destination.longitude = msg.payload.destlongitude;\n\ncommand.doImidiate = false;\n\nglobal.set(\"command\", command);\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":858,"wires":[["7555eed5.a9a4f"]]},{"id":"d3ece76e.69d6f8","type":"function","z":"e9615421.d27d1","name":"set command","func":"var command = global.get(\"command\");\n\ncommand.colavMode = 4;\n\ncommand.speed= msg.payload.velspeed;\ncommand.heading = msg.payload.velheading;\n\ncommand.doImidiate = false;\n\nglobal.set(\"command\", command);\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":898,"wires":[["7555eed5.a9a4f"]]},{"id":"5de1bd49.e165cc","type":"function","z":"e9615421.d27d1","name":"make start header","func":"var test = JSON.stringify(msg.payload);\nmsg.payload = '0' + test\nreturn msg;\n\n//cheating in a false 0 header to trick reciever","outputs":1,"noerr":0,"x":575,"y":698,"wires":[["7e6d4779.920dc8"]]},{"id":"d090e392.b4a1c8","type":"function","z":"e9615421.d27d1","name":"set command","func":"var command = global.get(\"command\");\n\ncommand.colavMode = 1;\n\ncommand.taskType = msg.payload;\n\ncommand.doImidiate = false;\n\nglobal.set(\"command\", command);\nmsg.payload = command;\nreturn msg;\n\n/*\ntry{ //set fence if fence is given\n    command.fence.latitude = msg.payload.fencelatitude;\n    command.fence.longitude = msg.payload.fencelongitude;\n}\ncatch(e){}\n\n\ntry{ //try to set destination if destination is given\n    command.destination.latitude = msg.payload.destlatitude;\n    command.destination.longitude = msg.payload.destlongitude;\n}\ncatch(e){}\n\n\ntry{ //try to set destination if destination is given\n    command.speed= msg.payload.velspeed;\n    command.heading = msg.payload.velheading;\n}\ncatch(e){}\n*/","outputs":1,"noerr":0,"x":345,"y":758,"wires":[["7555eed5.a9a4f"]]},{"id":"c5d5c757.90d368","type":"ui_dropdown","z":"e9615421.d27d1","name":"","label":"Choose behaviour","tooltip":"standard is boids behaviour","place":"Select option","group":"2ac6aafc.371cae","order":2,"width":"5","height":"1","passthru":true,"options":[{"label":"Boids","value":0,"type":"num"},{"label":"PSO","value":1,"type":"num"}],"payload":"","topic":"","x":135,"y":758,"wires":[["d090e392.b4a1c8"]]},{"id":"b967a6fe.22449","type":"link out","z":"e9615421.d27d1","name":"To worldmap","links":["93d9cd6d.96f65"],"x":760,"y":1078,"wires":[]},{"id":"cd07ad87.6c288","type":"function","z":"e9615421.d27d1","name":"set fence center on map","func":"var command = global.get(\"command\");\n\nmsg.payload = {};\n//Delete old position\nmsg.payload.layer = \"Sverm\";\nmsg.payload.name = \"Fence\";\n\n//Place at new position\ntry{\n    msg.payload.lat = command.fence.latitude;\n    msg.payload.lon = command.fence.longitude;\n}catch(e){}\n\nmsg.payload.radius = 50;\nmsg.payload.fillOpacity = 0.1;\nmsg.payload.draggable = true;\n//msg.payload.layer = \"Sverm\";\n//msg.payload.name = \"Boat \" + BoatOdometry.header.id;\nmsg.payload.ttl = 10;\nmsg.payload.time = flow.get(\"time\")||Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":1078,"wires":[["b967a6fe.22449"]]},{"id":"93d9cd6d.96f65","type":"link in","z":"e9615421.d27d1","name":"","links":["b967a6fe.22449"],"x":1115,"y":240,"wires":[["b0331e3d.a765"]]},{"id":"1839ea0f.d24ba6","type":"comment","z":"e9615421.d27d1","name":"User Interface - Show command data:","info":"","x":195,"y":958,"wires":[]},{"id":"d17e6462.aa7568","type":"debug","z":"e9615421.d27d1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":280,"wires":[]},{"id":"c49fa878.f02608","type":"inject","z":"e9615421.d27d1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":660,"wires":[["7e6d4779.920dc8"]]},{"id":"eca187a.e856978","type":"worldmap in","z":"e9615421.d27d1","name":"","path":"/worldmap","events":"all","x":100,"y":1160,"wires":[["b6ee8511.94bbe8"]]},{"id":"76176569.a31bdc","type":"function","z":"e9615421.d27d1","name":"set command","func":"if (msg.payload.action == \"move\"){\n\n    var command = global.get(\"command\");\n    \n    command.colavMode = 2;\n    \n    command.fence.latitude = msg.payload.lat;\n    command.fence.longitude = msg.payload.lon;\n    \n    command.doImidiate = false;\n    \n    global.set(\"command\", command);\n    msg.payload = command;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":460,"y":1160,"wires":[["f95e9a10.8e6578"]]},{"id":"b6ee8511.94bbe8","type":"switch","z":"e9615421.d27d1","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Fence","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1160,"wires":[["76176569.a31bdc"]]},{"id":"f95e9a10.8e6578","type":"function","z":"e9615421.d27d1","name":"make start header","func":"var test = JSON.stringify(msg.payload);\nmsg.payload = '0' + test\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1160,"wires":[["98586387.5be11"]]},{"id":"98586387.5be11","type":"link out","z":"e9615421.d27d1","name":"To worldmap","links":["ffc7e93a.bad208"],"x":815,"y":1160,"wires":[]},{"id":"ffc7e93a.bad208","type":"link in","z":"e9615421.d27d1","name":"","links":["98586387.5be11"],"x":655,"y":820,"wires":[["7e6d4779.920dc8"]]},{"id":"5da5e4c.4bfa41c","type":"ui_group","z":"","name":"test","tab":"bd915161.4a8618","order":2,"disp":false,"width":"20","collapse":false},{"id":"2ac6aafc.371cae","type":"ui_group","z":"","name":"Control","tab":"bd915161.4a8618","order":1,"disp":false,"width":"9","collapse":false},{"id":"bd915161.4a8618","type":"ui_tab","z":"","name":"Swarm ground station - mod","icon":"dashboard","order":8,"disabled":false,"hidden":false}]